* {
    font-family: "Poppins", sans-serif;
}
.logo img {
    width: 90px;
}
.Hello a {
    color: aqua;
}
.navbar-light {
    background-color: #323b49;
}
.navbar a {
    color: #eaf3fd !important;
}
.dropdown-menu a {
    color: #323b49 !important;
}
.signup-a a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 45px;
    color: #eaf3fd;
}
.cart-a img {
    width: 35px;
    height: 35px;
}
.search input {
    width: 400px;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
}
.top-sale {
    background-image: url("/images/image5.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 700px;
}
.top-sale h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    color: #eaf3fd;
}
.top-sale p {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #eaf3fd;
}
/* .recently-add h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 45px;
    color: #19252e;
}
.recently-add img {
    width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.recently-add p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #19252e;
} */
.custom-margin{
    margin-top: -15px;
}
.all-pro h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 45px;
    color: #19252e;
}
.all-pro img{
    width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

